* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  padding: 10px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 5px;
}
.row {
  height: 400px;
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
}
.img-container {
  flex: 1;
}
.two-img-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.two-img-container img {
  height: calc((100% - 10px) / 2);
}
.four-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

@media screen and (max-width: 576px) {
  .row {
    flex-direction: column;
    height: auto;
  }
}
